@media only screen and (min-width: 60em) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }

    main section:nth-child(3) {
        grid-column: span 1;
    }

    .whitespace {
        padding-top: 15px;
    }
}