@media only screen and (min-width: 37.5em) {
    main {
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
	}

	main section:nth-child(2) {
		display: block;
	}

	main section:nth-child(3) {
		grid-column: span 2;
	}

	
}