* {

    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    max-width: 960px;
    margin: 20px auto;
}

header h1 {


    font-family: 'Cedarville Cursive', cursive;
}

header,
footer {
    background-color: #62466B;
    color: #FBFBFF;
    height: auto;
    padding: 10px;
    text-align: center;
}

header h1,
h2 {
    margin: 0;
}


main {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    column-gap: 20px;
    row-gap: 20px;
}

main section {
    background-color: #FFFEEB;
    text-align: center;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 1px 1px gray;
}

main h2 {
    background-color: #2D2327;
    color: white;
}

img {
    margin: 10px 0;
}

p {
    text-align: left;
    margin: 0;
}

footer a {
    color: white;
    text-decoration: underline;
}

footer p {
    text-align: center;
}

footer a:hover {
    color: #00A0C6;
    text-decoration: none;
    cursor: pointer;
}