@media only screen and (min-width: 68.75em) {

    /*content*/
    /*header*/
    /*header1-logo*/
    .header1 {
        margin-left: 20px;
    }

    /*header2-socials*/
    .header2 {
        margin-top: 3px;
    }

    /*header3-nav*/
    .header3 {
        margin-top: -65px;
    }

    /*divhero*/
    /*current weather*/
    .divweather {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .divweather h3 {
        font-size: 1.2rem;
    }

    /*forecast*/
    /*alerts*/
    .collapsible {
        font-size: 1rem;
    }

    /*summary*/
    .summary .vl {
        display: none;
    }

    .summarydiv {
        display: flex;
        flex-flow: row nowrap;
        align-content: center;
        justify-content: center;
        text-align: left;
    }

    .jeep img {
        margin-left: 80px;
    }

    .summarydiv div h3,
    .summarydiv div p,
    .summarydiv div li {
        line-height: 1.4rem;
    }

    .summarydiv div ul li {
        list-style-type: square;
        list-style-position: inside;
    }

    .summary {
        margin-bottom: 20px;
    }

    /*contact*/


    /*footer*/
    footer {
        margin: 0 auto;
    }

    /*general*/
    p,
    li,
    span,
    td,
    footer div,
    dl {
        font-size: 1rem;
    }

    .summary h1 {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3,
    caption {
        font-size: 1.4rem;
    }

    h4,
    th {
        font-size: 1.2rem;
    }

    /*rentals*/
    .figurediv {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin: 20px;
    }

    .figurediv figure figcaption {
        display: block;
        margin-top: -10px;
    }

    .figurediv figure {
        margin-bottom: 20px;
        padding: 10px;
    }

    .pricechart {
        width: 80%;
        margin: 20px auto;
    }

    /*reservations*/
    .reservediv {
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: start;
    }

    .terms {
        margin-top: 30px;
    }

    .terms h2 {
        margin-top: -5px;
    }

    form fieldset {
        padding-right: 200px;
    }

    /* tours*/
    .toursicons img {
        width: 100px;
    }

    .toursicons {
        display: flex;
        flex-flow: row wrap;
    }

    .tours {
        margin: 20px;
    }

    /*contact*/
    .contactdiv {
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: start;
    }

    .addressdiv iframe {
        min-width: 500px;
        min-height: 350px;
    }

    .divcontact h2 {
        margin-top: 20px;
    }

    form label.top input, form label.top select {
        width: 20rem;
}