@media only screen and (min-width: 68.75em) {

    /*content*/
    /*header*/
    /*header1-logo*/
    .header1 {
        margin-left: 20px;
    }

    /*header2-socials*/
    /*header3-nav*/
    .header3 {
        margin-top: -70px;
        background-color: bedbed;
    }

    /*divhero*/
    /*current weather*/
    .divweather {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .divweather h3 {
        font-size: 1.2rem;
    }

    /*forecast*/
    /*alerts*/
    .collapsible {
        font-size: 1rem;
    }

    /*summary*/
    .summary .vl {
        display: none;
    }

    .summarydiv {
        display: flex;
        flex-flow: row nowrap;
        align-content: center;
        justify-content: center;
    }

    .jeep img {
        margin-left: 80px;
    }

    .summarydiv div h3,
    .summarydiv div p,
    .summarydiv div li {
        line-height: 1.3rem;
    }

    .summary {
        margin-bottom: 20px;
    }

    /*contact*/
    .contact {
        justify-content: space-evenly;
        gap: 100px;
    }

    /*footer*/
    footer {
        margin: 0 auto;
    }

    /*general*/
    p,
    li,
    span {
        font-size: 1rem;
    }

    .summary h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.6rem;
    }
}