@media only screen and (min-width: 68.75em) {

    /*header1-logo*/
    .header1 {
        margin-left: 20px;
    }

    /*header2-socials*/
    .header2 {
        margin-top: 3px;
    }

    /*header3-nav*/
    .header3 {
        margin-top: -65px;
    }

    /*current weather*/
    .divweather {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .divweather h3 {
        font-size: 1.2rem;
    }

    /*alerts*/
    .collapsible {
        font-size: 1rem;
    }

    /*summary*/
    .summary .vl {
        display: none;
    }

    .summarydiv {
        display: flex;
        flex-flow: row;
        align-content: center;
        text-align: left;
        position: absolute;
        top: 60px;
        left: 30px;
    }

    .summarydiv div h2,
    .summarydiv div p,
    .summarydiv div li {
        line-height: 1.4rem;
    }

    .summarydiv div ul li {
        list-style-type: square;
    }

    .summary {
        margin-bottom: 20px;
        position: relative;
        height: 400px;
    }

    .summary div {
        margin: 50px auto;
    }

    /*footer*/
    footer {
        margin: 0 auto;
    }

    /*general*/
    p,
    li,
    span,
    td,
    footer div,
    dl,
    #contactbox figcaption {
        font-size: 1rem;
    }

    .summary h1 {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3,
    caption {
        font-size: 1.4rem;
    }

    h4,
    th {
        font-size: 1.2rem;
    }

    /*rentals*/
    .figurediv {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin: 20px;
    }

    .figurediv figure figcaption {
        display: block;
        margin-top: -10px;
    }

    .figurediv figure {
        margin-bottom: 20px;
        padding: 10px;
    }

    .pricechart {
        width: 80%;
        margin: 20px auto;
    }

    .pricechart h3 {
        margin-bottom: 10px;
    }

    /*reservations*/
    .reservediv {
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: start;
    }

    .terms {
        margin-top: 30px;
    }

    .terms h2 {
        margin-top: -5px;
    }

    form fieldset {
        padding-right: 200px;
    }

    /*tours*/
    .toursicons img {
        width: 100px;
    }

    .toursicons {
        display: flex;
        flex-flow: row wrap;
    }

    .tours {
        margin: 20px;
    }

    #contactbox figure img {
        max-width: 500px;
    }

    /*contact us*/
    .contactdiv {
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: start;
    }

    .addressdiv iframe {
        min-width: 500px;
        min-height: 350px;
    }

    .divcontact h2 {
        margin-top: 20px;
    }

    form label.top input,
    form label.top select {
        width: 20rem;
    }
}