@media only screen and (min-width: 42.80em) {

    /*header*/
    .header-main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        grid-gap: 10px;
    }

    /*header1-logo*/
    .header1 {
        grid-column: 1;
        margin-left: 20px;
    }

    /*header2-socials*/
    .header2 {
        grid-column: -1;
        margin: -5px 20px 0 0;
    }

    /*header3-nav*/
    .header3 {
        grid-column: 2/-1;
        margin-top: -60px;
        justify-self: end;
    }

    .header-nav nav {
        background-color: transparent;
    }

    .header-nav nav ul {
        flex-flow: row;
    }

    .header-nav button {
        display: none;
        float: none;
        margin: 0;
    }

    .header-nav nav ul.hide {
        display: flex;
    }

    .header-nav nav li:first-child {
        display: none;
    }

    #primaryNav a:active,
    .header-nav a:active,
    .header-nav .navbold {
        background-color: #EF7215;
        color: black;
    }

    .header-nav nav a:hover {
        background-color: hsl(26, 87%, 51%, .5);
        color: black;
    }

    /*divhero*/
    .divhero {
        position: relative;
    }

    .divhero button {
        position: absolute;
        bottom: 20px;
        width: 30%;
        border-radius: 50px;
        padding: 15px;
    }

    /*weather*/
    .divweather {
        margin: 20px;
    }

    .weather {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        justify-items: center;
        grid-gap: 5px;
    }

    /*current weather*/
    .current {
        grid-column: 1;
        padding: 20px 0;
    }

    /*forecast*/
    .forecastdiv {
        grid-column: 2;
        padding: 20px 0;
    }

    .current .temp,
    .current #temperature {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
    }

    .forecastitem {
        border: 2px solid;
        border-style: outset;
        padding: 5px 15px;
        background-color: hsl(242, 72%, 14%);
        color: white;
    }

    .forecast {
        gap: 10px;
    }

    /*alerts*/
    .divweather {
        margin: 0 auto;
    }

    /*summary*/
    .summary {
        position: relative;
    }

    .summarydiv div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        place-items: center;
    }

    .summarydiv div img {
        grid-column: 1/2;
        grid-row: 1 / span 4;
        align-self: end;
    }

    .summarydiv div h2,
    .summarydiv div p,
    .summarydiv div li {
        grid-column: 2/3;
        align-self: start;
    }

    hr {
        display: none;
    }

    .vl {
        border-left: 10px solid #0C0A3E;
        height: 400px;
        position: absolute;
        left: 42%;
    }

    /*contact*/
    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    /*footer*/

    /*rentals*/
    .pricechart table {
        width: 100%;
    }

    .pricechart {
        margin: 20px;
    }

    .terms {
        margin: 20px;
    }