* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
}

/*content*/
.content {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}

/*header*/
.header1 {
    margin: 10px;
}

.header2 {
    margin: -65px 10px 0 0;
}

/*header1-logo*/
.header-logo img {
    max-width: 100px;
}

.header-logo p {
    margin-top: -10px;
}

/*header2-socials*/
.header-socials img {
    max-width: 40px;
}

.header-socials nav ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    margin-top: 20px;
}

/*header3-nav*/
.header-nav button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    margin: 0 10px;
}

.header-nav nav {
    font-size: 1rem;
    background-color: #EF7215;
    text-align: center;
}

.header-nav nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.header-nav nav li {
    flex: 1;
    line-height: .5rem;
    flex: 1 1 100%;
    width: 100%;
}

.header-nav nav li:first-child {
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1em;
}

.header-nav nav ul li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: black;
}

.header-nav nav a:hover {
    background-color: hsl(293, 64%, 33%, .5);
    color: black;
}

.header-nav nav a:link,
.header-nav nav a:visited {
    text-decoration: none;
}

#primaryNav a:active,
.header-nav a:active,
.header-nav .navbold {
    background-color: #0C0A3E;
    color: white;
    font-weight: bold;
    width: 100%;
}

.header-nav nav ul.hide {
    display: none;
}

/*divhero*/
.divhero {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.divhero img {
    width: 100%;
}

.divhero button {
    background-color: #0C0A3E;
    color: white;
    border: none;
    width: 100%;
    padding: 20px;
    font-size: 1rem;
    font-weight: bolder;
    margin-top: -10px;
}

/*current weather*/
.divweather {
    margin: 10px;
    max-width: 960px;
}

.divweather h3 {
    font-size: 1rem;
}

.current {
    margin-bottom: 20px;
    text-align: left;
}

.current .temp,
.current #temperature {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

/*forecast*/
.forecast {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}

.forecastitem {
    border-style: solid;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: #EF7215;
    border-left-color: transparent;
    border-right-style: dotted;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-flow: column;
}

.forecastdiv {
    text-align: left;
}

/*alerts*/
.alerts {
    margin: 10px 0;
    text-align: center;
}

.collapsible {
    background-color: #F5E663;
    cursor: pointer;
    padding: 10px;
    border: none;
    text-align: left;
    outline: none;
    font-size: .8rem;
    width: 100%;
}

.active,
.collapsible:hover {
    background-color: hsl(242, 72%, 14%, .8);
    color: white;
}

.alertcontent {
    padding: 20px;
    display: none;
    overflow: hidden;
    text-align: left;
    border-left: 6px solid red;
    background-color: hsl(242, 72%, 14%, .1);
}

/*summary*/
.summary {
    text-align: center;
    background-color: hsl(26, 87%, 51%, .1);
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.summary h1 {
    background-color: #0C0A3E;
    color: white;
    padding: 20px;
}

.summary li {
    list-style-type: none;
}

.summary img {
    width: 100px;
}

.summary div {
    margin: 50px;
}

.summary div h2 {
    margin-bottom: 10px;
}

hr {
    width: 25%;
    margin: 0 auto;
    border: 5px solid #0C0A3E;
    border-radius: 5px;
}

/*contact*/
.contact {
    background-color: hsl(242, 72%, 14%, .1);
    padding: 20px;
}

.icons img {
    width: 20px;
}

.icons {
    display: flex;
    align-items: flex-end;
    width: max-content;
    text-align: left;
    gap: 10px;
    margin-bottom: 5px;
}

.address {
    padding-bottom: 20px;
}

.socials {
    display: flex;
    flex-flow: column;
    align-content: flex-end;
}

.socials .icons img {
    margin-right: 10px;
    margin-bottom: -3px;
}

.socials .icons a {
    text-decoration: none;
}

.contact h2 {
    margin-bottom: 10px;
    text-align: left;
}

/*footer*/
footer {
    background-color: #0C0A3E;
    padding: 20px;
    color: white;
    text-align: center;
}

footer a:link,
footer a:visited {
    text-decoration: none;
    color: white;
}

footer a:active,
footer a:visited {
    color: #ef7415;
}

/*general*/
p,
li,
span,
td,
footer div,
dl,
#contactbox figcaption {
    font-size: .8rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Syne', sans-serif;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.3rem;
}

h3,
caption {
    font-size: 1.2rem;
}

h4,
th {
    font-size: 1rem;
}

/*rentals*/
img[data-src] {
    filter: blur(0.2em);
}

.figurediv {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
}

.figurediv img {
    max-width: 150px;
    filter: blur(0em);
    transition: filter 0.5s;
    margin: 5px 0;
}

.figurebox {
    height: 350px;
}

.pricechart {
    margin-bottom: 10px;
}

.pricechart table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    min-width: 200px;
}

.pricechart td,
th {
    border: 1px solid lightgray;
    text-align: left;
    padding: 8px;
}

.pricechart tr:nth-child(even) {
    background-color: hsl(26, 87%, 51%, .2);
}

.pricechart p {
    color: brown;
    text-align: left;
}

.reserve {
    border: 1px solid #0C0A3E;
    width: 300px;
    margin: 0 auto 20px auto;
    padding: 20px;
    border-radius: 50px;
    background-color: #0C0A3E;
}

.reserve a {
    text-decoration: none;
}

.reserve a:link,
.reserve a:visited {
    color: white;
}

.reserve a:hover {
    color: #EF7215;
}

/*reservations*/
.terms {
    text-align: left;
    margin: 10px;
    padding: 10px;
}

.terms ul {
    list-style-type: square;
    list-style-position: inside;
}

form fieldset {
    margin: 2rem 0;
    text-align: left;
}

form legend {
    color: #031926;
    margin: 0 1rem;
    padding: 0 10px;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
    font-size: .8rem;
}

form label.box {
    font-size: .8rem;
}

#dropbox {
    margin-top: 25px;
}

form label.top input,
form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px hsl(187, 32%, 41%);
    border-radius: 4px;
    padding: .75rem;
    color: #031926;
    width: 100%;
    max-width: 20rem;
    background-color: hsl(242, 72%, 14%, .1);
}

form input.subbutton {
    border: none;
    background-color: #0C0A3E;
    color: white;
    border-radius: 5rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form input.subbutton:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24), 0 5px 20px 0 rgba(0, 0, 0, .5);
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

form textarea {
    padding: 10px;
    width: 100%;
    max-width: 20rem;
    height: 150px;
    background-color: hsl(242, 72%, 14%, .1);
}

.confirm {
    margin: 200px auto;
    max-width: 1600px;
}

.button {
    text-align: left;
}

/* tours*/
.toursicons img {
    width: 50px;
    margin: 0 auto;
}

.toursicons {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
    gap: 10px;
    padding: 10px;
    margin: 10px;
}

.tours-summary a {
    text-decoration: none;
    color: black;
}

.tours p,
.tours dl {
    text-align: left;
}

.tours {
    padding: 10px;
}

.tours p {
    margin-bottom: 10px;
}

.tours dl dd {
    margin-left: 50px;
}

.list p:nth-of-type(1) {
    background-color: #F5E663;
    padding: 30px;
    border-radius: 10px 50px;
}

.historytitle {
    font-weight: bolder;
    font-size: 1.5rem;
}

#contactbox figure img {
    max-width: 300px;
    border-radius: 10px;
}

#contactbox {
    height: fit-content;
}

/*contact us*/
.address1 {
    margin-bottom: 20px;
}

.addressdiv iframe {
    min-width: 300px;
    min-height: 250px;
}

.addressdiv {
    margin: 20px;
}

.addressdiv h2 {
    margin-bottom: 20px;
}

.address1 .contacticons,
.address2 .contacticons {
    margin-right: 20px;
    margin-left: 20px;
}

#contactmessage {
    margin-bottom: 20px;
}

#fieldcontact {
    padding-bottom: 0;
}

.address1,
.address2 {
    text-align: left;
}

.divresources {
    text-align: left;
    margin: 20px;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}