* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
}

/*content*/
.content {
    max-width: 1600px;
    margin: 0 auto;
}

/*header*/
.header1 {
    margin: 10px;
}

.header2 {
    margin: -70px 10px 10px 0;
}

/*header1-logo*/
.header-logo img {
    max-width: 100px;
}

.header-logo p {
    margin-top: -10px;
}

/*header2-socials*/
.header-socials img {
    max-width: 40px;
}

.header-socials nav ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    margin-top: 20px;
}

/*header3-nav*/
.header-nav button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    margin: 0 10px;
}

.header-nav nav {
    font-size: 1rem;
    background-color: #EF7215;
    text-align: center;
}

.header-nav nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.header-nav nav li {
    flex: 1;
    line-height: .5rem;
    flex: 1 1 100%;
    width: 100%;
}

.header-nav nav li:first-child {
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1em;
}

.header-nav nav ul li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: black;
}

.header-nav nav a:hover {
    background-color: hsl(293, 64%, 33%, .5);
    color: black;
}

.header-nav nav a:link,
.header-nav nav a:visited {
    text-decoration: none;
}

#primaryNav a:active,
.header-nav a:active,
.header-nav .navbold {
    background-color: #0C0A3E;
    color: white;
    font-weight: bold;
    width: 100%;
}

.header-nav nav ul.hide {
    display: none;
}

/*divhero*/
.divhero {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.divhero img {
    width: 100%;
}

.divhero button {
    background-color: #0C0A3E;
    color: white;
    border: none;
    width: 100%;
    padding: 20px;
    font-size: 1rem;
    font-weight: bolder;
    margin-top: -10px;
}

/*current weather*/
.divweather {
    margin: 10px;
    max-width: 960px;
}

.divweather h3 {
    font-size: 1rem;
}

.current {
    margin-bottom: 20px;
}

.current .temp,
.current #temperature {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

/*forecast*/
.forecast {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}

.forecastitem {
    border-style: solid;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: #EF7215;
    border-left-color: transparent;
    border-right-style: dotted;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-flow: column;
}

/*alerts*/
.alerts {
    margin: 10px 0;
    text-align: center;
}

.collapsible {
    background-color: hsl(242, 72%, 14%);
    color: white;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: .8rem;
    width: 100%;
}

.active,
.collapsible:hover {
    background-color: hsl(242, 72%, 14%, .8);
    color: white;
}

.alertcontent {
    padding: 20px;
    display: none;
    overflow: hidden;
    text-align: left;
    border-left: 6px solid red;
    background-color: hsl(242, 72%, 14%, .1);
}

/*summary*/
.summary {
    text-align: center;
    background-color: hsl(26, 87%, 51%, .1);
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.summary h1 {
    background-color: hsl(26, 87%, 51%);
    padding: 20px;
}

.summary li {
    list-style-type: none;
}

.summary img {
    width: 100px;
}

.summary div {
    margin: 50px;
}

.summary div h2 {
    margin-bottom: 10px;
}

hr {
    width: 10%;
    margin: 0 auto;
    border: 5px solid #0C0A3E;
    border-radius: 5px;
}

/*contact*/
.contact {
    background-color: hsl(242, 72%, 14%, .1);
    padding: 20px;
}

.icons img {
    width: 20px;
}

.icons {
    display: flex;
    align-items: flex-end;
    width: max-content;
    text-align: left;
    gap: 10px;
    margin-bottom: 5px;
}

.address {
    padding-bottom: 20px;
}

.socials {
    display: flex;
    flex-flow: column;
    align-content: flex-end;
}

.socials .icons img {
    margin-right: 10px;
    margin-bottom: -3px;
}

.socials .icons a {
    text-decoration: none;
}

.contact h2 {
    margin-bottom: 10px;
}

/*footer*/
footer {
    background-color: #EF7215;
    padding: 20px;
    text-align: center;
}

/*general*/
p,
li,
span {
    font-size: .8rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Syne', sans-serif;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.2rem;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}