@import url("https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto&display=swap");

body {
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 1.2em;
    max-width: 700px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: "Permanent Marker", cursive, sans-serif;
}

header {
    background-color: rgb(182, 166, 197);
    border-radius: 30px;
    color: darkslategray;
    height: 100px;
}

header img {
    float: right;
    margin: 10px;
}

