@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 1.2em;
    max-width: 700px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: rgb(182, 166, 197);
    border-radius: 20px;
    color: rgb(22, 22, 22);
    height: 100px;
}

header img {
    float: right;
    margin: 10px;
    padding: 15px;
    box-shadow: 5px 5px 2px black;
}

header h1 {
    text-align: center;
    margin-bottom: -20px;
}

hr {
    height: .5px;
    border-width: 0;
    color: gray;
    background-color: gray;
}
footer {
    background-color: rgb(182, 166, 197);
    border-radius: 10px;
    color: rgb(22, 22, 22);
    height: 50px;
    font-size: 0.8em;
    text-align: center;
}