@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 1.2em;
    max-width: 700px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    height: 100px;
    margin-top: 50px;
}

main {
    margin: 0 30px;
}

header img {
    
}

h1 {
    font-size: 1.2em;
    text-align: center;
    padding-top: 25px;
    padding-right: 150px;
}

h2 {
    font-size: .8em;
}

hr {
    height: .5px;
    border-width: 0;
    color: gray;
    background-color: gray;
    margin-top:-20px;
    

}
header, footer {
    background-color: #C52184;
    color: white;
}
footer {
    height: 50px;
    font-size: 0.8em;
    text-align: center;
    line-height: .2em;

}

footer p {
    padding-top: 15px;
}

footer div {
    color: yellow;
}

footer a {
    color: white;
    text-decoration: underline;
}

footer a:hover {
    color: #00A0C6;
    text-decoration: none;
    cursor: pointer;
}