@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Zilla+Slab:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.2em;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  max-height: 100%;
  margin: auto 0;
}

#css-zen-garden {
  background-image: url("images/background/background_small.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  padding: 0;
}
@media (min-width: 700px) {
  #css-zen-garden {
    background-image: url("images/background/background_big.png");
  }
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1962px, 0, 0);
  }
}
div.page-wrapper {
  position: relative;
  margin: 20px;
  text-align: center;
  max-width: 90vw;
  margin: auto;
}
@media (min-width: 75em) {
  div.page-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}
div.page-wrapper .intro {
  text-align: center;
  position: relative;
}
div.page-wrapper .intro header[role=banner] {
  font-family: "Zilla Slab", serif;
  color: #FDFDFE;
}
div.page-wrapper .intro header[role=banner] h1 {
  background: transparent url("images/title/LampOnTitle.png") no-repeat center top;
  background-size: contain;
  margin-top: 1rem;
  max-width: 500px;
  height: 540px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
@media (min-width: 700px) {
  div.page-wrapper .intro header[role=banner] h1 {
    max-width: 700px;
    height: 740px;
    margin: 0 auto;
    margin-top: 10vh;
  }
}
div.page-wrapper .intro header[role=banner] h2 {
  margin-top: -25rem;
  font-size: 1.2rem;
  opacity: 0.6;
}
@media (min-width: 27.438em) {
  div.page-wrapper .intro header[role=banner] h2 {
    margin-top: -22rem;
  }
}
@media (min-width: 700px) {
  div.page-wrapper .intro header[role=banner] h2 {
    margin-top: -25rem;
  }
}
div.page-wrapper .intro .summary[role=article] p:nth-of-type(1) {
  margin: 3rem 0 35rem 0;
  text-align: center;
  color: #FDFDFE;
  opacity: 0.4;
}
@media (min-width: 27.438em) {
  div.page-wrapper .intro .summary[role=article] p:nth-of-type(1) {
    margin-bottom: 25rem;
  }
}
div.page-wrapper .intro .summary[role=article] p:nth-of-type(2) {
  text-align: center;
  margin-bottom: 3rem;
}
@media (min-width: 700px) {
  div.page-wrapper .intro .summary[role=article] p:nth-of-type(2) {
    margin-top: -70vh;
  }
}
@media (min-width: 75em) {
  div.page-wrapper .intro .summary[role=article] p:nth-of-type(2) {
    margin-top: -40vh;
  }
}
div.page-wrapper .summary,
div.page-wrapper .preamble,
div.page-wrapper .main,
div.page-wrapper .zen-resources,
div.page-wrapper .design-archives {
  font-size: 0.9rem;
}
@media (min-width: 700px) {
  div.page-wrapper .summary,
div.page-wrapper .preamble,
div.page-wrapper .main,
div.page-wrapper .zen-resources,
div.page-wrapper .design-archives {
    font-size: 1rem;
  }
}
div.page-wrapper .summary,
div.page-wrapper .preamble,
div.page-wrapper .explanation,
div.page-wrapper .participation,
div.page-wrapper .benefits,
div.page-wrapper .requirements {
  margin-bottom: 2.5rem;
}
div.page-wrapper p {
  margin-bottom: 0.5rem;
}
div.page-wrapper h3 {
  font-size: 1.4rem;
}

div.design-selection {
  color: #FDFDFE;
  position: absolute;
  top: 22rem;
  left: 0;
  right: 0;
  margin: auto;
}
@media (min-width: 700px) {
  div.design-selection {
    margin-top: 80vh;
  }
}
div.design-selection .select {
  font-size: 1rem;
  text-align: center;
}
div.design-selection ul {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 700px) {
  div.design-selection ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    height: 35rem;
  }
}
div.design-selection ul li {
  list-style: none;
  width: 100px;
  height: 130px;
  font-size: 0.7rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 10px 0;
}
div.design-selection ul li a:link,
div.design-selection ul li a:visited {
  text-decoration: none;
  color: #FDFDFE;
}
div.design-selection ul .design-name {
  text-align: center;
}
@media (max-width: 21.188em) {
  div.design-selection ul .design-name {
    line-height: 1.5;
  }
}
div.design-selection ul li:nth-of-type(1)::before {
  background-image: url("images/space icons/svg/018-mercury.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45px;
  display: block;
  width: 80px;
  height: 80px;
  content: "";
  transform: translatey(0px);
  animation: float1 20s linear infinite forwards;
}
div.design-selection ul li:nth-of-type(2)::before {
  background-image: url("images/space icons/svg/036-venus.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55px;
  display: block;
  width: 80px;
  height: 80px;
  content: "";
  transform: translatey(0px);
  animation: float2 15s linear infinite forwards;
}
div.design-selection ul li:nth-of-type(3)::before {
  background-image: url("images/space icons/svg/006-planet-earth.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
  display: block;
  width: 80px;
  height: 80px;
  content: "";
  transform: translatey(0px);
  animation: float3 20s linear infinite forwards;
}
div.design-selection ul li:nth-of-type(4)::before {
  background-image: url("images/space icons/svg/017-mars.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
  display: block;
  width: 80px;
  height: 100px;
  content: "";
  transform: translatey(0px);
  /*pasted by Hans*/
  animation: float5 20s linear infinite forwards;
  /*pasted by Hans*/
}
div.design-selection ul li:nth-of-type(5)::before {
  background-image: url("images/space icons/svg/012-jupiter.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
  display: block;
  width: 80px;
  height: 100px;
  content: "";
  transform: translatey(0px);
  /*pasted by Hans*/
  animation: float4 15s linear infinite forwards;
  /*pasted by Hans*/
}
div.design-selection ul li:nth-of-type(6)::before {
  background-image: url("images/space icons/svg/028-saturn.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75px;
  display: block;
  width: 80px;
  height: 100px;
  content: "";
  transform: translatey(0px);
  /*pasted by Hans*/
  animation: float3 20s linear infinite forwards;
  /*pasted by Hans*/
}
div.design-selection ul li:nth-of-type(7)::before {
  background-image: url("images/space icons/svg/035-uranus.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
  display: block;
  width: 80px;
  height: 100px;
  content: "";
  transform: translatey(0px);
  /*pasted by Hans*/
  animation: float3 20s linear infinite forwards;
  /*pasted by Hans*/
}
div.design-selection ul li:nth-of-type(8)::before {
  background-image: url("images/space icons/svg/022-neptune.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65px;
  display: block;
  width: 80px;
  height: 100px;
  content: "";
  transform: translatey(0px);
  /*pasted by Hans*/
  animation: float4 15s linear infinite forwards;
  /*pasted by Hans*/
}
@media (min-width: 700px) {
  div.design-selection ul li:nth-of-type(1) {
    grid-column: 1;
    grid-row: 2;
  }
}
@media (min-width: 700px) {
  div.design-selection ul li:nth-of-type(2) {
    grid-column: 2;
    grid-row: 1;
  }
}
@media (min-width: 700px) {
  div.design-selection ul li:nth-of-type(3) {
    grid-column: 4;
    grid-row: 1;
  }
}
@media (min-width: 700px) {
  div.design-selection ul li:nth-of-type(4) {
    grid-column: 6;
    grid-row: 1;
  }
}
@media (min-width: 700px) {
  div.design-selection ul li:nth-of-type(5) {
    grid-column: 2;
    grid-row: 3;
  }
}
@media (min-width: 700px) {
  div.design-selection ul li:nth-of-type(6) {
    grid-column: 4;
    grid-row: 3;
  }
}
@media (min-width: 700px) {
  div.design-selection ul li:nth-of-type(7) {
    grid-column: 6;
    grid-row: 3;
  }
}
@media (min-width: 700px) {
  div.design-selection ul li:nth-of-type(8) {
    grid-column: 7;
    grid-row: 2;
  }
}

div.design-selection ul li:nth-of-type(1):hover {
  animation-play-state: paused;
}
@media (min-width: 700px) {
  div.design-selection ul li:nth-of-type(1):hover {
    transform: scale(1.5);
    transition: 0.5s ease-in-out;
  }
}

div.design-selection ul li:nth-of-type(2):hover {
  animation-play-state: paused;
}
@media (min-width: 700px) {
  div.design-selection ul li:nth-of-type(2):hover {
    transform: scale(1.5);
    transition: 0.5s ease-in-out;
  }
}

div.design-selection ul li:nth-of-type(3):hover {
  animation-play-state: paused;
}
@media (min-width: 700px) {
  div.design-selection ul li:nth-of-type(3):hover {
    transform: scale(1.5);
    transition: 0.5s ease-in-out;
  }
}

div.design-selection ul li:nth-of-type(4):hover {
  animation-play-state: paused;
}
@media (min-width: 700px) {
  div.design-selection ul li:nth-of-type(4):hover {
    transform: scale(1.5);
    transition: 0.5s ease-in-out;
  }
}

div.design-selection ul li:nth-of-type(5):hover {
  animation-play-state: paused;
}
@media (min-width: 700px) {
  div.design-selection ul li:nth-of-type(5):hover {
    transform: scale(1.5);
    transition: 0.5s ease-in-out;
  }
}

div.design-selection ul li:nth-of-type(6):hover {
  animation-play-state: paused;
}
@media (min-width: 700px) {
  div.design-selection ul li:nth-of-type(6):hover {
    transform: scale(1.5);
    transition: 0.5s ease-in-out;
  }
}

div.design-selection ul li:nth-of-type(7):hover {
  animation-play-state: paused;
}
@media (min-width: 700px) {
  div.design-selection ul li:nth-of-type(7):hover {
    transform: scale(1.5);
    transition: 0.5s ease-in-out;
  }
}

div.design-selection ul li:nth-of-type(8):hover {
  animation-play-state: paused;
}
@media (min-width: 700px) {
  div.design-selection ul li:nth-of-type(8):hover {
    transform: scale(1.5);
    transition: 0.5s ease-in-out;
  }
}

@keyframes float1 {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float2 {
  0% {
    transform: translatey(0px);
  }
  60% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float3 {
  0% {
    transform: translatey(0px);
  }
  40% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float4 {
  0% {
    transform: translatey(0px);
  }
  40% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float5 {
  0% {
    transform: translatey(0px);
  }
  40% {
    transform: translatey(20px);
  }
  100% {
    transform: translatey(0px);
  }
}
.main {
  position: relative;
}

.preamble[role=article] {
  color: #0D0D0D;
}
@media (min-width: 27.438em) {
  .preamble[role=article] p {
    text-align: center;
  }
}
@media (min-width: 700px) {
  .preamble[role=article] p {
    text-align: end;
  }
}
@media (min-width: 27.438em) {
  .preamble[role=article] {
    margin-top: 10vh;
  }
}
@media (min-width: 700px) {
  .preamble[role=article] {
    margin-left: 20rem;
    margin-top: 220vh;
    text-align: end;
  }
}

.preamble::before {
  background-image: url("images/wall-e.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5rem;
  display: block;
  width: 100%;
  height: 100px;
  content: "";
  padding-bottom: 5rem;
  transform: translatey(0px);
  animation: wall-e 70s linear infinite forwards;
}
@media (min-width: 700px) {
  .preamble::before {
    position: absolute;
    left: -10rem;
    top: 80rem;
    margin-top: 50vh;
    margin-left: -10vw;
  }
}
@media (min-width: 75em) {
  .preamble::before {
    left: -25rem;
    top: 70rem;
    margin-top: 140vh;
    margin-left: 0;
  }
}

@keyframes wall-e {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.explanation {
  color: #0D0D0D;
}
@media (min-width: 27.438em) {
  .explanation {
    margin-top: 40vh;
  }
}
@media (min-width: 27.438em) {
  .explanation p {
    text-align: center;
  }
}
@media (min-width: 700px) {
  .explanation p {
    text-align: start;
  }
}
@media (min-width: 700px) {
  .explanation {
    margin-right: 20rem;
    margin-top: 80vh;
    text-align: start;
  }
}

.explanation::before {
  background-image: url("images/house.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  width: 100%;
  height: 250px;
  content: "";
  padding-bottom: 5rem;
  transform: translatey(0px);
  animation: house 10s ease-in-out infinite;
}
@media (min-width: 700px) {
  .explanation::before {
    position: absolute;
    right: -10rem;
    top: 8rem;
    margin-top: -10vh;
    margin-right: -10vw;
  }
}
@media (min-width: 75em) {
  .explanation::before {
    right: -25rem;
    top: 0rem;
    margin-right: 0vw;
  }
}

@keyframes house {
  0% {
    transform: translatey(0px);
  }
  20% {
    transform: translatey(-5px);
  }
  40% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
@media (min-width: 700px) {
  .participation p {
    text-align: end;
  }
}
@media (min-width: 27.438em) {
  .participation {
    margin-top: 50vh;
  }
}
@media (min-width: 700px) {
  .participation {
    margin-left: 20rem;
    margin-top: 90vh;
    text-align: end;
  }
}

.participation::before {
  background-image: url("images/airplane.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  width: 100%;
  height: 15vw;
  content: "";
  padding-bottom: 5rem;
  transform: translatey(0px);
  animation: airplane 10s ease-in-out infinite;
}
@media (min-width: 700px) {
  .participation::before {
    position: absolute;
    left: -10rem;
    top: 63rem;
    margin-top: -60vh;
    margin-left: -10vw;
  }
}
@media (min-width: 75em) {
  .participation::before {
    left: -25rem;
    top: 25rem;
    margin-top: 30vh;
    margin-left: 0vw;
  }
}

@keyframes airplane {
  0% {
    transform: translatey(0px);
  }
  20% {
    transform: translatey(-5px);
  }
  50% {
    transform: rotate(-5deg);
    transform: scale(1.2);
  }
  100% {
    transform: translatey(0px);
  }
}
.benefits {
  color: white;
  background-image: url("images/road_sign.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
@media (min-width: 27.438em) {
  .benefits {
    margin-top: 90vh;
    background-position: bottom;
  }
}
.benefits p {
  padding: 0 2.5rem 2rem 2.5rem;
}
@media (min-width: 700px) {
  .benefits p {
    font-size: 0.9rem;
  }
}
@media (min-width: 700px) {
  .benefits {
    margin-right: 20rem;
    margin-top: 230vh;
    padding-top: 2.5rem;
    background-position: top;
  }
}
@media (min-width: 75em) {
  .benefits {
    margin-top: 100vh;
  }
}

.benefits::before {
  background-image: url("images/rat.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  width: 100%;
  height: 90px;
  content: "";
  padding-bottom: 5rem;
  animation: rat 15s linear infinite forwards;
  /*added by Hans*/
}
@media (min-width: 700px) {
  .benefits::before {
    position: absolute;
    right: -3rem;
    top: 100rem;
    margin-top: 240vh;
  }
}
@media (min-width: 75em) {
  .benefits::before {
    right: -10rem;
    top: 48rem;
    margin-top: 200vh;
  }
}

@keyframes rat {
  0% {
    transform: translatex(0);
  }
  50% {
    transform: translatex(30%);
  }
  60% {
    transform: translatex(30%) rotateY(180deg);
  }
  90% {
    transform: translatex(0) rotateY(180deg);
  }
  100% {
    transform: translatex(0) rotateY(0deg);
  }
}
.requirements {
  color: #FDFDFE;
}
@media (min-width: 27.438em) {
  .requirements {
    margin-top: 90vh;
    text-align: center;
  }
}
@media (min-width: 700px) {
  .requirements {
    margin-left: 20rem;
    margin-bottom: 1rem;
    margin-top: 150vh;
    text-align: end;
  }
}
@media (min-width: 75em) {
  .requirements {
    margin-top: 150vh;
  }
}
@media (min-width: 27.438em) {
  .requirements p {
    text-align: center;
  }
}
@media (min-width: 700px) {
  .requirements p {
    text-align: end;
  }
}
.requirements p[role=contentinfo] {
  display: none;
}

.requirements::before {
  background-image: url("images/ant.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  width: 100%;
  height: 50vh;
  content: "";
  animation: ant 8s ease-in-out infinite;
}
@media (min-width: 700px) {
  .requirements::before {
    position: absolute;
    left: -10rem;
    bottom: 31rem;
    margin-left: -10vw;
  }
}
@media (min-width: 75em) {
  .requirements::before {
    left: -25rem;
    bottom: 10rem;
    margin-left: 0vw;
  }
}

@keyframes ant {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
div.zen-resources ul {
  position: absolute;
  bottom: 9rem;
  color: white;
  width: 100%;
  height: 13rem;
}
@media (min-width: 700px) {
  div.zen-resources ul {
    display: flex;
    height: fit-content;
    justify-content: center;
  }
}
@media (min-width: 700px) and (min-width: 75em) {
  div.zen-resources ul {
    bottom: 6rem;
  }
}
div.zen-resources ul li {
  padding: 1rem;
  width: 100%;
  border: 1px solid #FDFDFE;
  list-style: none;
  text-align: left;
}
@media (min-width: 700px) {
  div.zen-resources ul li {
    text-align: center;
  }
}
div.zen-resources ul li a:link,
div.zen-resources ul li a:visited {
  text-decoration: none;
  color: #FDFDFE;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: absolute;
  left: 5%;
  right: 5%;
}
@media (min-width: 75em) {
  footer {
    margin-top: 2rem;
  }
}
footer a:link,
footer a:visited {
  text-decoration: none;
  color: #0D0D0D;
}
footer a:nth-of-type(1)::before {
  background-image: url("images/footer/html.ico");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
  display: block;
  width: 50px;
  height: 50px;
  content: "";
}
footer a:nth-of-type(2)::before {
  background-image: url("images/footer/css.ico");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
  display: block;
  width: 50px;
  height: 50px;
  content: "";
}
footer a:nth-of-type(3)::before {
  background-image: url("images/footer/cc.ico");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
  display: block;
  width: 50px;
  height: 50px;
  content: "";
}
footer a:nth-of-type(4)::before {
  background-image: url("images/footer/ally.ico");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
  display: block;
  width: 50px;
  height: 50px;
  content: "";
}
footer a:nth-of-type(5)::before {
  background-image: url("images/footer/gh.ico");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
  display: block;
  width: 50px;
  height: 50px;
  content: "";
}

div.design-archives nav[role=navigation] {
  padding-top: 26rem;
}
@media (min-width: 75em) {
  div.design-archives nav[role=navigation] {
    padding-top: 15rem;
  }
}
div.design-archives nav[role=navigation] ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div.design-archives nav[role=navigation] ul li {
  list-style: none;
  border: 1px solid #FDFDFE;
  padding: 0.5rem;
}
div.design-archives nav[role=navigation] ul a:link,
div.design-archives nav[role=navigation] ul a:visited {
  text-decoration: none;
  color: #FDFDFE;
}
div.design-archives nav[role=navigation] ul .viewall::after {
  content: "›";
  color: #FDFDFE;
}

.archives,
.resources,
.banner h1 {
  display: none;
}

.archives {
  display: none;
}

/*# sourceMappingURL=style.css.map */
