@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Zilla+Slab:wght@600&display=swap');

//Fonts
$base-font: 'Montserrat',
sans-serif;
$header-font: 'Zilla Slab',
serif;

//Colors
$base-color: #0D0D0D;
$secondary-color: #FDFDFE;
$accent1: #FEE300;
$accent2: #DC022B;
$accent3: #047542;

//Breakpoints
$break-small: 20em; //320px
$break-small-21: 21.188em; //339px
$break-small-27: 27.438em; //439px /
$break-medium: 37.500em; //600px /
$break-medium-45: 45.313em; // 725px
$break-medium-54: 54.438em; //871px
$break-large: 75em; //1200px

//Mixins
@mixin center {
    max-width: 1200px;
    margin: 0 auto;
}

@mixin small {
    @media (max-width: #{$break-small}) {
        @content;
    }
}

@mixin small-21 {
    @media (max-width: #{$break-small-21}) {
        @content;
    }
}

@mixin small-min-27 {
    @media (min-width: #{$break-small-27}) {
        @content;
    }
}

@mixin medium {
    @media (min-width: $break-medium) {
        @content;
    }
}

@mixin medium-min-45 {
    @media (min-width: $break-medium-45) {
        @content;
    }
}

@mixin medium-min-54 {
    @media (min-width: $break-medium-54) {
        @content;
    }
}

@mixin large {
    @media (min-width: $break-large) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.2em;
    line-height: 1.5;
    font-family: $base-font;
    @include center;
    //max-height: 100%;
}

//Background
#css-zen-garden {
    background-image: url("images/background/background_small.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    padding: 0;

    @include medium {
        background-image: url("images/background/background_big.png");
    }
}

//Possible animation slide for background added by Hans
@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-1962px, 0, 0);
    }
}

div.page-wrapper {
    position: relative;
    margin: 20px;
    text-align: center;

    .intro {
        text-align: center;
        position: relative;

        //Header
        header[role=banner] {
            font-family: $header-font;
            color: $secondary-color;

            h1 {
                background: transparent url("images/title/LampOnTitle.png") no-repeat center top;
                background-size: contain;
                margin-top: 1rem;
                max-width: 500px;
                height: 540px;
                text-indent: 100%;
                white-space: nowrap;
                overflow: hidden;

                @include medium {
                    max-width: 700px;
                    height: 740px;
                    margin: 0 auto;
                    margin-top: 10vh;
                }
            }

            h2 {
                margin-top: -25rem;
                font-size: 1.2rem;
                opacity: .7;

                @include medium {
                    margin-top: -31rem;
                }
            }
        }

        .summary[role=article] {
            & p:nth-of-type(1) {
                margin: 3rem 0 35rem 0;
                text-align: center;
                color: $secondary-color;
                opacity: .7;

                @include medium {
                    margin-bottom: 25rem;
                }
            }

            & p:nth-of-type(2) {
                text-align: center;
                margin-bottom: 3rem;
                color: $base-color;

                @include medium {
                    margin-top: 46rem;                    
                }

                a:link,
                a:visited {
                    text-decoration: none;
                    color: $base-color;
                }
            }
        }
    }

    //Font sizes for each section
    .summary,
    .preamble,
    .main,
    .zen-resources,
    .design-archives {
        font-size: 1rem;

        @include medium {
            font-size: .9rem;
        }
    }

    //Bottom margins for each section
    .summary,
    .preamble,
    .explanation,
    .participation,
    .benefits,
    .requirements {
        margin-bottom: 3.5rem;
    }

    //Bottom margins for each p
    p {
        margin-bottom: .5rem;
        text-align: left;
    }

    //all subtitles
    h3 {
        font-size: 1.4rem;

    }
}

//Planets
div.design-selection {
    color: $secondary-color;
    position: absolute;
    top: 22rem;
    left: 0;
    right: 0;
    margin: auto;

    @include medium {
        margin-top: 5em;
    }

    .select {
        font-size: 1rem;
        text-align: center;
        opacity: .7;
    }

    ul {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;

        @include medium {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: auto;
            justify-items: center;
            align-items: center;
            height: 35rem;
        }

        li {
            list-style: none;
            width: 100px;
            height: 130px;
            font-size: .7rem;            
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            align-content: center;
            margin: 10px 0;    
            color: rgb(255, 255, 255, .7);        

            a:link,
            a:visited {
                text-decoration: none;
                color: rgb(255, 255, 255, .7);
            }
        }

        .design-name {
            text-align: center;

            @include small-21 {
                line-height: 1.5;
            }
        }

        //Planet svgs
        li:nth-of-type(1)::before {
            background-image: url('images/space icons/svg/018-mercury.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 45px;
            display: block;
            width: 80px;
            height: 80px;
            content: "";
            transform: translatey(0px);
            -webkit-animation: float1 20s linear infinite forwards;
            animation: float1 20s linear infinite forwards;
        }

        li:nth-of-type(2)::before {
            background-image: url('images/space icons/svg/036-venus.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 55px;
            display: block;
            width: 80px;
            height: 80px;
            content: "";
            transform: translatey(0px);
            -webkit-animation: float2 15s linear infinite forwards;
            animation: float2 15s linear infinite forwards;


        }

        li:nth-of-type(3)::before {
            background-image: url('images/space icons/svg/006-planet-earth.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 60px;
            display: block;
            width: 80px;
            height: 80px;
            content: "";
            transform: translatey(0px);
            -webkit-animation: float3 20s linear infinite forwards;
            animation: float3 20s linear infinite forwards;


        }

        li:nth-of-type(4)::before {
            background-image: url('images/space icons/svg/017-mars.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 50px;
            display: block;
            width: 80px;
            height: 100px;
            content: "";
            transform: translatey(0px);
            -webkit-animation: float5 20s linear infinite forwards;
            animation: float5 20s linear infinite forwards;
        }

        li:nth-of-type(5)::before {
            background-image: url('images/space icons/svg/012-jupiter.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 80px;
            display: block;
            width: 80px;
            height: 100px;
            content: "";
            transform: translatey(0px);
            -webkit-animation: float4 15s linear infinite forwards;
            animation: float4 15s linear infinite forwards;
        }

        li:nth-of-type(6)::before {
            background-image: url('images/space icons/svg/028-saturn.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 75px;
            display: block;
            width: 80px;
            height: 100px;
            content: "";
            transform: translatey(0px);
            -webkit-animation: float3 20s linear infinite forwards;
            animation: float3 20s linear infinite forwards;
        }

        li:nth-of-type(7)::before {
            background-image: url('images/space icons/svg/035-uranus.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70px;
            display: block;
            width: 80px;
            height: 100px;
            content: "";
            transform: translatey(0px);
            -webkit-animation: float3 20s linear infinite forwards;
            animation: float3 20s linear infinite forwards;
        }

        li:nth-of-type(8)::before {
            background-image: url('images/space icons/svg/022-neptune.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 65px;
            display: block;
            width: 80px;
            height: 100px;
            content: "";
            transform: translatey(0px);
            -webkit-animation: float4 15s linear infinite forwards;
            animation: float4 15s linear infinite forwards;
        }

        li:nth-of-type(1) {
            @include medium {
                grid-column: 1;
                grid-row: 2;
            }
        }

        li:nth-of-type(2) {
            @include medium {
                grid-column: 2;
                grid-row: 1;
            }
        }

        li:nth-of-type(3) {
            @include medium {
                grid-column: 4;
                grid-row: 1;
            }
        }

        li:nth-of-type(4) {
            @include medium {
                grid-column: 6;
                grid-row: 1;
            }
        }

        li:nth-of-type(5) {
            @include medium {
                grid-column: 2;
                grid-row: 3;
            }
        }

        li:nth-of-type(6) {
            @include medium {
                grid-column: 4;
                grid-row: 3;
            }
        }

        li:nth-of-type(7) {
            @include medium {
                grid-column: 6;
                grid-row: 3;
            }
        }

        li:nth-of-type(8) {
            @include medium {
                grid-column: 7;
                grid-row: 2;
            }
        }


    }
}

//animations for hover on planets added by Hans
div.design-selection ul li:nth-of-type(1):hover {
    animation-play-state: paused;

    @include medium {
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        transition: .5s ease-in-out;
    }
}

div.design-selection ul li:nth-of-type(2):hover {
    animation-play-state: paused;

    @include medium {
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        transition: .5s ease-in-out;
    }
}

div.design-selection ul li:nth-of-type(3):hover {
    animation-play-state: paused;

    @include medium {
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        transition: .5s ease-in-out;
    }
}

div.design-selection ul li:nth-of-type(4):hover {
    animation-play-state: paused;

    @include medium {
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        transition: .5s ease-in-out;
    }
}

div.design-selection ul li:nth-of-type(5):hover {
    animation-play-state: paused;

    @include medium {
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        transition: .5s ease-in-out;
    }
}

div.design-selection ul li:nth-of-type(6):hover {
    animation-play-state: paused;

    @include medium {
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        transition: .5s ease-in-out;
    }
}

div.design-selection ul li:nth-of-type(7):hover {
    animation-play-state: paused;

    @include medium {
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        transition: .5s ease-in-out;
    }
}

div.design-selection ul li:nth-of-type(8):hover {
    animation-play-state: paused;

    @include medium {
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        transition: .5s ease-in-out;
    }
}

//Keyframes for planets
@keyframes float1 {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-10px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes float2 {
    0% {
        transform: translatey(0px);
    }

    60% {
        transform: translatey(-10px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes float3 {
    0% {
        transform: translatey(0px);
    }

    40% {
        transform: translatey(-10px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes float4 {
    0% {
        transform: translatey(0px);
    }

    40% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes float5 {
    0% {
        transform: translatey(0px);
    }

    40% {
        transform: translatey(20px);
    }

    100% {
        transform: translatey(0px);
    }
}

.main {
    position: relative;
}

.preamble[role=article] {
    color: $base-font;

    @include medium {
        margin-left: 20rem;
        margin-top: 30rem;
    }
}

//Body images
.preamble::before {
    background-image: url('images/wall-e.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8rem;
    display: block;
    width: 100%;
    height: 100px;
    content: "";
    padding-bottom: 8rem;
    transform: translatey(0px);
    -webkit-animation: wall-e 70s linear infinite forwards;
    animation: wall-e 70s linear infinite forwards;

    @include medium {
        position: absolute;
        left: -10rem;
        top: 85rem;
    }

    @include large {
        left: -25rem;
        top: 70rem;
    }
}

@keyframes wall-e {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.explanation {
    @include medium {
        margin-right: 20rem;
        margin-top: 13rem;
    }
}

.explanation::before {
    background-image: url('images/house.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8rem;
    display: block;
    width: 100%;
    height: 250px;
    content: "";
    padding-bottom: 10rem;
    transform: translatey(0px);
    -webkit-animation: house 10s ease-in-out infinite;
    animation: house 10s ease-in-out infinite;

    @include medium {
        position: absolute;
        right: -10rem;
        top: -15rem;
    }

    @include medium-min-54 {
        right: -20rem;
    }

    @include large {
        right: -25rem;
        top: 0rem;
    }
}

@keyframes house {
    0% {
        transform: translatey(0px);
    }

    20% {
        transform: translatey(-5px);
    }

    40% {
        transform: rotate(-5deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: translatey(-10px);
    }

    100% {
        transform: translatey(0px);
    }
}

.participation {
    @include medium {
        margin-left: 20rem;
        margin-top: 12rem;
    }
}

.participation::before {
    background-image: url('images/airplane.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8rem;
    display: block;
    width: 100%;
    height: 60px;
    content: "";
    padding-bottom: 10rem;
    transform: translatey(0px);
    -webkit-animation: airplane 10s ease-in-out infinite;
    animation: airplane 10s ease-in-out infinite;

    @include medium {
        position: absolute;
        left: -10rem;
        top: 39rem;
    }

    @include medium-min-54 {
        left: -20rem;
    }

    @include large {
        left: -25rem;
        top: 25rem;
    }
}

@keyframes airplane {
    0% {
        transform: translatey(0px);
    }

    20% {
        transform: translatey(-5px);
    }

    50% {
        transform: rotate(-5deg);
        transform: scale(1.2);
    }

    100% {
        transform: translatey(0px);
    }
}

.benefits {
    background: -moz-linear-gradient(left, rgba(233, 223, 196, 1) 0%, rgba(233, 223, 196, 1) 1%, rgba(237, 227, 200, 1) 2%, rgba(237, 227, 200, 1) 24%, rgba(235, 221, 195, 1) 25%, rgba(233, 223, 196, 1) 48%, rgba(235, 221, 195, 1) 49%, rgba(230, 216, 189, 1) 52%, rgba(230, 216, 189, 1) 53%, rgba(233, 219, 192, 1) 54%, rgba(230, 216, 189, 1) 55%, rgba(230, 216, 189, 1) 56%, rgba(233, 219, 192, 1) 57%, rgba(230, 216, 189, 1) 58%, rgba(230, 216, 189, 1) 73%, rgba(233, 219, 192, 1) 74%, rgba(233, 219, 192, 1) 98%, rgba(235, 221, 195, 1) 100%);

    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(233, 223, 196, 1)), color-stop(1%, rgba(233, 223, 196, 1)), color-stop(2%, rgba(237, 227, 200, 1)), color-stop(24%, rgba(237, 227, 200, 1)), color-stop(25%, rgba(235, 221, 195, 1)), color-stop(48%, rgba(233, 223, 196, 1)), color-stop(49%, rgba(235, 221, 195, 1)), color-stop(52%, rgba(230, 216, 189, 1)), color-stop(53%, rgba(230, 216, 189, 1)), color-stop(54%, rgba(233, 219, 192, 1)), color-stop(55%, rgba(230, 216, 189, 1)), color-stop(56%, rgba(230, 216, 189, 1)), color-stop(57%, rgba(233, 219, 192, 1)), color-stop(58%, rgba(230, 216, 189, 1)), color-stop(73%, rgba(230, 216, 189, 1)), color-stop(74%, rgba(233, 219, 192, 1)), color-stop(98%, rgba(233, 219, 192, 1)), color-stop(100%, rgba(235, 221, 195, 1)));

    background: -webkit-linear-gradient(left, rgba(233, 223, 196, 1) 0%, rgba(233, 223, 196, 1) 1%, rgba(237, 227, 200, 1) 2%, rgba(237, 227, 200, 1) 24%, rgba(235, 221, 195, 1) 25%, rgba(233, 223, 196, 1) 48%, rgba(235, 221, 195, 1) 49%, rgba(230, 216, 189, 1) 52%, rgba(230, 216, 189, 1) 53%, rgba(233, 219, 192, 1) 54%, rgba(230, 216, 189, 1) 55%, rgba(230, 216, 189, 1) 56%, rgba(233, 219, 192, 1) 57%, rgba(230, 216, 189, 1) 58%, rgba(230, 216, 189, 1) 73%, rgba(233, 219, 192, 1) 74%, rgba(233, 219, 192, 1) 98%, rgba(235, 221, 195, 1) 100%);

    background: -o-linear-gradient(left, rgba(233, 223, 196, 1) 0%, rgba(233, 223, 196, 1) 1%, rgba(237, 227, 200, 1) 2%, rgba(237, 227, 200, 1) 24%, rgba(235, 221, 195, 1) 25%, rgba(233, 223, 196, 1) 48%, rgba(235, 221, 195, 1) 49%, rgba(230, 216, 189, 1) 52%, rgba(230, 216, 189, 1) 53%, rgba(233, 219, 192, 1) 54%, rgba(230, 216, 189, 1) 55%, rgba(230, 216, 189, 1) 56%, rgba(233, 219, 192, 1) 57%, rgba(230, 216, 189, 1) 58%, rgba(230, 216, 189, 1) 73%, rgba(233, 219, 192, 1) 74%, rgba(233, 219, 192, 1) 98%, rgba(235, 221, 195, 1) 100%);

    background: -ms-linear-gradient(left, rgba(233, 223, 196, 1) 0%, rgba(233, 223, 196, 1) 1%, rgba(237, 227, 200, 1) 2%, rgba(237, 227, 200, 1) 24%, rgba(235, 221, 195, 1) 25%, rgba(233, 223, 196, 1) 48%, rgba(235, 221, 195, 1) 49%, rgba(230, 216, 189, 1) 52%, rgba(230, 216, 189, 1) 53%, rgba(233, 219, 192, 1) 54%, rgba(230, 216, 189, 1) 55%, rgba(230, 216, 189, 1) 56%, rgba(233, 219, 192, 1) 57%, rgba(230, 216, 189, 1) 58%, rgba(230, 216, 189, 1) 73%, rgba(233, 219, 192, 1) 74%, rgba(233, 219, 192, 1) 98%, rgba(235, 221, 195, 1) 100%);

    background: linear-gradient(left, rgba(233, 223, 196, 1) 0%, rgba(233, 223, 196, 1) 1%, rgba(237, 227, 200, 1) 2%, rgba(237, 227, 200, 1) 24%, rgba(235, 221, 195, 1) 25%, rgba(233, 223, 196, 1) 48%, rgba(235, 221, 195, 1) 49%, rgba(230, 216, 189, 1) 52%, rgba(230, 216, 189, 1) 53%, rgba(233, 219, 192, 1) 54%, rgba(230, 216, 189, 1) 55%, rgba(230, 216, 189, 1) 56%, rgba(233, 219, 192, 1) 57%, rgba(230, 216, 189, 1) 58%, rgba(230, 216, 189, 1) 73%, rgba(233, 219, 192, 1) 74%, rgba(233, 219, 192, 1) 98%, rgba(235, 221, 195, 1) 100%);

    background-size: 8rem;
    background-repeat: repeat;
    border: .5em solid #A37C4D;

    p {
        padding: 0 2.5rem 2rem 2.5rem;

        @include medium {
            font-size: .9rem;
        }
    }

    @include medium {
        margin-right: 20rem;
        margin-top: 10rem;
        padding-top: 2.5rem;
        min-width: 50%;

    }
}

.benefits::before {
    background-image: url('images/rat.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 7rem;
    display: block;
    width: 100%;
    height: 90px;
    content: "";
    padding-bottom: 5rem;
    -webkit-animation: move 8s infinite;
    -webkit-animation: rat 10s ease-in-out infinite;
    animation: rat 10s ease-in-out infinite;

    @include medium {
        position: absolute;
        right: -20%;
    }

    @include large {
        bottom: 32rem;
    }
}

@keyframes rat {
    0% {
        transform: translatex(0);
    }

    50% {
        transform: translatex(30%)
    }

    60% {
        transform: translatex(30%) rotateY(180deg);
    }

    90% {
        transform: translatex(0) rotateY(180deg);
    }

    100% {
        transform: translatex(0) rotateY(0deg);
    }
}

.requirements {
    color: $secondary-color;
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.75));
    margin-top: 10rem;

    @include medium {
        margin-top: 4rem;
    }

    & p[role=contentinfo] {
        display: none;
    }
}

.requirements::before {
    background-image: url('images/ant.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15rem;
    display: block;
    width: 100%;
    height: 250px;
    content: "";
    -webkit-animation: ant 8s ease-in-out infinite;
    animation: ant 8s ease-in-out infinite;
    padding-bottom: 10rem;

    @include medium {
        padding: 0;
    }

    @include large {
        left: -25rem;
        bottom: 10rem;
    }
}


@keyframes ant {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

//Resources
div.zen-resources ul {
    position: absolute;
    bottom: 9rem;
    color: rgb(172, 105, 105);
    width: 100%;
    height: 13rem;

    @include medium {
        display: flex;
        flex: row nowrap;
        height: fit-content;
        justify-content: center;
        bottom: 5rem;

        @include large {
            //bottom: 6rem;

        }
    }

    li {
        padding: 1rem;
        width: 100%;
        border: 1px solid $secondary-color;
        border-style: hidden hidden solid hidden;
        list-style: none;
        text-align: left;

        @include medium {
            text-align: center;
            border-style: solid;
            //margin: auto 0;
            height: 7rem;
        }

        @include medium-min-45 {
            height: 5rem;
        }

        @include large {
            height: 3rem;
        }

        a:link,
        a:visited {
            text-decoration: none;
            color: $secondary-color;
        }
    }
}

//Footer
footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    position: absolute;
    left: 5%;
    right: 5%;

    @include medium {
        margin-top: 2rem;
        gap: 1.5rem;
    }

    @include large {
        margin-top: 1rem;
    }

    a:link,
    a:visited {
        text-decoration: none;
        color: $base-color;
    }

    a:nth-of-type(1)::before {
        background-image: url('images/footer/html.ico');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50px;
        display: block;
        width: 50px;
        height: 50px;
        content: "";
    }

    a:nth-of-type(2)::before {
        background-image: url('images/footer/css.ico');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50px;
        display: block;
        width: 50px;
        height: 50px;
        content: "";
    }

    a:nth-of-type(3)::before {
        background-image: url('images/footer/cc.ico');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50px;
        display: block;
        width: 50px;
        height: 50px;
        content: "";
    }

    a:nth-of-type(4)::before {
        background-image: url('images/footer/ally.ico');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50px;
        display: block;
        width: 50px;
        height: 50px;
        content: "";
    }

    a:nth-of-type(5)::before {
        background-image: url('images/footer/gh.ico');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50px;
        display: block;
        width: 50px;
        height: 50px;
        content: "";
    }
}

//Archives
div.design-archives nav[role=navigation] {
    padding-top: 25rem;

    @include medium {
        padding-top: 22rem;
    }

    @include large {
        padding-top: 15rem;
    }

    ul {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;

        li {
            list-style: none;
            border: 1px solid $secondary-color;
            padding: .5rem;
        }

        a:link,
        a:visited {
            text-decoration: none;
            color: $secondary-color;
        }

        .viewall::after {
            content: "\203A";
            color: $secondary-color;
        }
    }
}

.archives,
.resources,
.banner h1 {
    display: none;
}