@media only screen and (min-width: 60em) {
    header img {
        width: 100px;
        margin-top: -3px;
    }

    .headings h1 {
        font-size: 2rem;
    }

    main h2 {
        font-size: 1.8rem;
    }

    .headings p {
        font-size: 1.3rem;
        margin-top: 10px;
    }

    header {
        line-height: .8;
    }

    .headings {
        top: 40px;
        left: 135px;
    }

    .content {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    figure figcaption {
        display: block;
        margin-top: -10px;
    }

    figure:hover {
        box-shadow: 0 0 10px 2px #333;
    }

    figure {
        margin-bottom: 20px;
        padding: 10px;
    }

}