* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    line-height: 1.5;
    background-color: floralwhite;
}

header {
    display: flex;
    line-height: 1.1;
    padding: 20px;
}

header img {
    width: 60px;
    margin-right: 20px;
}

.headings {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.headings h1,
main h2 {
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
}

main h2 {
    margin-top: 20px;
}

.headings p {
    font-size: .8rem;
    margin-top: -10px;
}

/*header nav*/
nav {
    background-color: #031926;
    line-height: 3em;
    text-align: center;
    font-size: 1rem;
}

nav li {
    list-style-type: none;
    width: 100%;
    flex: 1;
}

nav li:first-child {
    background-color: #468189;
    font-weight: bold;
    font-size: 1.3rem;
}

nav ul {
    display: flex;
    flex-basis: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

nav ul li a {
    display: block;
    padding: .5em;
    text-align: center;
    text-decoration: none;
    color: white;
}

nav a:link,
nav a:visited {
    text-decoration: none;
}

nav a:hover,
.navbold {
    color: black;
    background-color: #EEC584;
    text-shadow: 1px 1px whitesmoke;
    font-weight: bold;
}

nav button {
    background-color: transparent;
    border: none;
    font-size: 1.8rem;
    margin: -60px 50px 0 0;
    float: right;
}

nav ul.hide {
    display: none;
}

/*footer*/
footer {
    background-color: #031926;
    color: white;
    height: auto;
    padding: 10px;
    text-align: center;
    font-size: .8rem;
    margin: 0 auto;
    max-width: 820px;
}

footer div {
    color: yellow;
}

footer a {
    color: white;
    text-decoration: underline;
}

footer a:hover {
    color: #00A0C6;
    text-decoration: none;
    cursor: pointer;
}

.placeholder {
    margin: 10px 0;
    padding: 20px;
    background-color: lightblue;
    border: 1px dashed grey;
}

.content {
    margin: 0 auto;
    max-width: 760px;
    text-align: center;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}