@media only screen and (min-width: 60em) {

    /*header*/
    header img {
        width: 90px;
    }

    .headings h1 {
        font-size: 1.5rem;
    }

    .headings p {
        font-size: 1.2rem;
        margin-top: 15px;
    }

    header {
        line-height: .8;
    }

    .headings {
        top: 55px;
        left: 130px;
    }

    /*header nav*/

    /*header hero*/
    .tablehero {
        width: 250px;
        height: auto;
        position: absolute;
        top: 50px;
        left: 50px;
        box-shadow: 1px 1px 10px 2px white;
        border-radius: 10px;
        background-color: hsl(37, 76%, 73%, .6);
    }

    .rightcol {
        padding-right: 5px;
    }

    .divhero {
        margin-bottom: 0;
    }

    /*5-day forecast*/
    .forecasth3 {
        margin-top: 20px;
    }

    /*site-wide notice*/

    /*content*/
    .figurediv {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    figure figcaption {
        display: block;
        margin-top: -10px;
    }

    figure:hover {
        box-shadow: 0 0 10px 2px #333;
    }

    figure {
        margin-bottom: 20px;
        padding: 10px;
    }

    .townh2 {
        font-size: 1.4rem;
    }

    /*article*/
    .article img {
        margin-right: 20px;
    }

    .article360 {
        height: 360px;
    }

    /*contact*/
    .socials img {
        width: 100%;
    }

    .divicons {
        flex-direction: column;
    }

    .contactitems iframe {
        display: inline-block;
    }

    /*footer*/

    /*form*/
    form label.sbs {
        padding: .2rem 0;
    }

    form label.top,
    form div {
        font-size: .9rem;
    }

    /*towndata*/
    .towndata section {
        display: inline-block;
        max-width: 360px;
        margin: 10px;
    }

    .towndata section img {
        padding: 20px 0;
    }

    .titleh3 {
        font-size: 1.3rem;
    }
}