body {
    max-width: 960px;
    margin: 0 auto;
    line-height: normal;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }