body {
    max-width: 960px;
    margin: 0 auto;
    line-height: 1.5;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #dddddd;
    width: 30%;
  }

  table {
    border: 1px solid darkgray;
  }

  section {
      margin: 10px 0;
  }

  :root {
    --primary-color: #031926;
    --secondary-color: #468189;
    --accent1-color: #8BE8CB;
    --accent2-color: #EEC584;
  }